.button {
  position: relative;
  text-align: center;
  display: inline-flex;
  margin: 20px 0;
  padding: 12px 24px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #DC3B54;
  color: #fff;
  transition: background-color .3s; }

.button:hover, .button:focus {
  background-color: #c1233b; }

.button > * {
  position: relative; }

.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out; }

.button.blue {
  background-color: #006996; }
  .button.blue:hover, .button.blue:focus {
    background-color: #004563; }
  .button.blue:hover, .button.blue:focus {
    background-color: #004563; }

.button.red {
  background-color: #DC3B54; }

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #343433;
  margin: 0;
  padding: 0;
  line-height: 150%;
  font-weight: 300; }

strong {
  font-weight: 500; }

h1 {
  font-weight: 300; }

img {
  max-width: 100%;
  margin: 10px auto; }

legend {
  color: #676766;
  font-style: italic; }

.accessimap {
  font-family: 'Roboto Slab', serif; }

.bg-paper {
  background: url("../img/ricepaper2.png"); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bg-paper {
      background: url("../img/ricepaper2_@2X.png"); } }

section {
  padding: 20px 0; }
  @media screen and (min-width: 960px) {
    section {
      padding: 20px 0; } }

.row {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 0; }

.double-col .photo {
  width: 100%;
  height: 300px;
  z-index: 100;
  background-position: center center;
  background-size: cover;
  top: 0;
  bottom: 0;
  position: relative; }

.double-col .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding: 20px 0; }

@media screen and (min-width: 960px) {
  .double-col {
    display: flex;
    position: relative; }
    .double-col::after {
      content: '';
      position: absolute;
      z-index: 100;
      width: 100%;
      top: 0;
      height: 80px;
      background: url("../img/grid.svg");
      background-size: cover;
      -webkit-clip-path: polygon(100% 100%, 37% 0, 100% 0);
      clip-path: polygon(100% 100%, 37% 0, 100% 0);
      opacity: .3; }
    .double-col .photo {
      width: 50%;
      height: auto;
      position: absolute; }
    .double-col .content {
      margin-left: 50%;
      width: 50%;
      padding: 60px 40px;
      max-width: 590px; } }

header .logo {
  padding: 30px 0 20px 0;
  text-align: center; }
  header .logo img {
    height: 180px; }

header .intro {
  overflow: hidden;
  padding: 0;
  position: relative; }
  header .intro img {
    width: 50%;
    height: 50%;
    margin: 0; }
  header .intro .photo {
    background-image: url("../img/photo2.png"); }

.formulaire {
  padding: 0; }
  .formulaire .photo {
    background-image: url("../img/photo1.png"); }
  .formulaire .content {
    padding: 40px; }

.footer {
  color: #676766;
  font-style: italic;
  font-size: 85%;
  text-align: center;
  overflow: hidden; }
  .footer .row {
    padding: 10px 0; }

@media screen and (min-width: 960px) {
  .editor, .reader {
    display: flex;
    flex-direction: row; } }

.editor h2, .reader h2 {
  margin-top: 0; }

.editor .icon, .reader .icon {
  width: 80px; }

@media screen and (min-width: 960px) {
  .editor h2 {
    margin-top: 0.83em; }
  .editor .icon {
    margin: 50px;
    width: 80px; }
  .reader h2 {
    margin-top: 0.83em; }
  .reader .icon {
    margin: 40px;
    width: 100px; } }

.demo {
  position: relative; }
  .demo::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    height: 80px;
    background: url("../img/grid.svg");
    background-size: cover;
    -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 0 0, 100% 0);
    opacity: .7; }

.videos {
  flex-direction: row;
  justify-content: space-between;
  text-align: center; }
  .videos iframe {
    margin: 0 auto; }
  .videos legend {
    margin: 0 auto; }

.partenaires {
  text-align: center;
  margin-bottom: 40px; }
  .partenaires ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .partenaires li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 20%;
    padding: 16px; }
  .partenaires img {
    max-height: 80px; }

.formulaire {
  text-align: center; }
